<script type="text/javascript" src="{$scriptsurl}acciones/almacen.js"></script>
<h2>Quitar productos del almacén</h2>
<ul class="i-tabs">
  <li><a href="#i-proyecto">Origen</a></li>
  <li><a href="#i-orden">Orden de compra</a></li>
</ul>
<div class="i-tab-container">
  <div id="i-proyecto" class="i-tab-content">
    <form name="filter" id="filter" method="GET">
      <fieldset class="collapsible">
        <legend>Origen</legend>
        <p>
        <label for="idproyecto" style="width: auto; margin-right: 4px;">Origen de los productos:</label>
        <select id="idproyecto" name="idproyecto">
            <option value="1">Saldos de almacén</option>
            {section name=n loop=$projs}
            {if $projs[n].idproyecto != 1}
            <option value="{$projs[n].idproyecto}" {if $projs[n].idproyecto==$idproyecto}selected="selected"{/if}>sec_func = {$projs[n].sec_func}</option>
            {/if}
            {/section}
        </select>
        <input type="submit" name="submit" id="submit" value="Buscar" />
        <input type="hidden" name="op" id="op" value="proyecto" />
        </p>
        
      </fieldset>
    </form>
  </div>
  
  <div id="i-orden" class="i-tab-content">
    <form name="filter" id="filter" method="GET">
      <fieldset class="collapsible">
        <legend>Por código</legend>
        <p>
          <label for="codigo">Código de la orden:</label>
          <input type="text" name="codigo" id="codigo" size="10" value="{$codigo}" />
          <input type="submit" name="submit" id="submit" value="Buscar" />
          <input type="hidden" name="op" id="op" value="number" />
        </p>
      </fieldset>
    </form>
  </div>
</div>
{if $productos}
<table class="tabla">
  <thead>
    <th></th>
    <th>Disponible</th>
    <th>U. Med.</th>
    <th>Descripción</th>
    <th>Salida</th>
  </thead>
  <tbody>
  
  {section name=n loop=$productos}
  <tr class="{cycle values="even,odd"}">
      <th><input type="checkbox" name="choose" id="choose{$productos[n].iddetalle}" /></th>
      <td>{$productos[n].cantidad}</td>
      <td>{$productos[n].umedida}</td>
      <td>{$productos[n].descripcion}</td>
      <td><input type="text" name="cuanto[]" id="cuanto{$productos[n].iddetalle}" size="3" /></td>
  </tr>
  {sectionelse}
  <tr>
    <td colspan="4">No existen datos.</td>
  </tr>
  {/section}
  </tbody>
</table>
{/if}