<h2>Almacén</h2>
<script type="text/javascript" src="{$scriptsurl}jquery.calculation.min.js"></script> 
<script type="text/javascript" src="{$scriptsurl}acciones/almacen.js"></script> 
{if $msg}
<div class="msg">{$msg}</div>
{/if}
<div id="tabs">
  <form name="frmalmacen" id="frmorden" action="{$self}" method="post">
    <div id="tabs-1">
      <fieldset>
        <legend>Datos del ingreso</legend>
        <p>
          <label for="codigo"><abbr title="Nota de Entrada de Almacén">NEA</abbr> Nro.:</label>
          <input type="text" name="codigo" id="codigo" value="{if $nea.codigo}{$nea.codigo}{else}{$codgen}{/if}" maxlength="10" class="required" />
        </p>
        <p>
          <label for="procedencia">Procedencia:</label>
          <input type="text" name="procedencia" id="procedencia" value="{if $nea.procedencia}{$nea.procedencia}{/if}{if $fromorden}{$myproc}{/if}" maxlength="200" size="80" class="required" {if $fromorden}readonly="readonly"{/if} />
          <input type="hidden" name="idorden" id="idorden" value="{if $orden}{$orden.idorden}{else}0{/if}" />
        </p>
        {if !$fromorden}
        <p>
          <label for="idproyecto">Destino:</label>
          <strong>Almacén Central</strong>
          <input type="hidden" name="idproyecto" id="idproyecto" value="1" />
        </p>
        {else}
        <p>
          <label for="idproyecto">Destino:</label>
          <strong>sec_func={$orden.proyecto.sec_func}</strong> - {$orden.proyecto.descripcion}
          <input type="hidden" name="idproyecto" id="idproyecto" value="{$orden.proyecto.idproyecto}" />
        </p>
        {/if}
        <p>
          <label for="fecha">Fecha:</label>
          <input type="text" name="fecha" id="fecha" size="11" value="{if $nea.fecha}{$nea.fecha}{else}{$smarty.now|date_format:"%d/%m/%Y"}{/if}" class="required" />
        </p>
        <p>
          <label for="observaciones">Observaciones:</label>
          <br />
          <textarea id="observaciones" name="observaciones" cols="80" rows="5">{if $nea.observaciones}{$nea.observaciones|escape:html}{/if}{if $fromorden}Ingresando bienes desde la {$myproc}{/if}</textarea>
        </p>
      </fieldset>
    </div>
    <div id="tabs-3">
      <fieldset>
        <legend>Detalles de la orden</legend>
        <table class="tabla">
          <thead>
            <tr>
              <th colspan="4">Artículos</th>
              <th colspan="2">Precio</th>
              {if $nea.detalle}
              <th rowspan="2">Acciones</th>
              {/if} </tr>
            <tr>
              <th>Código</th>
              <th>Cantidad</th>
              <th><abbr title="Unidad de Medida">U. Med.</abbr></th>
              <th>Descripción</th>
              <th>Unitario</th>
              <th>Total</th>
            </tr>
          </thead>
          {if !$nea.detalle}
          <tbody id="tbody">
            <tr id="firstr">
              <td><input type="text" name="especifica[]" maxlength="20" class="required" title="*" size="10" /></td>
              <td><input type="text" name="cantidad[]" size="10" maxlength="10" class="number required cantidad" title="*" /></td>
              <td><input type="text" name="umedida[]" size="3" maxlength="3" class="required umedida" title="*" /></td>
              <td><input type="text" name="descripcion[]" maxlength="255" size="50" class="required" title="*" /></td>
              <td><input type="text" name="precio[]" size="10" class="required number precio" title="*" /></td>
              <td><input type="text" name="total_" size="10" readonly="readonly" class="total" /></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th colspan="5">TOTAL:</th>
              <td id="grandTotal"></td>
            </tr>
          </tfoot>
        </table>
        <p class="aright">
          <input type="button" name="clone" id="clone" value="Añadir" />
        </p>
        {else}
        <tbody id="tbody">
        {assign var="con" value=0}
        {section name=n loop=$nea.detalle}
        <tr id="firstr">
          <td><input type="text" name="especifica[]" maxlength="20" class="required" title="*" size="10" value="{$nea.detalle[n].especifica}" {if $fromorden || $nea.destino != 1}readonly="readonly" {/if}/></td>
          <td><input type="text" name="cantidad[]" size="10" maxlength="10" class="number required cantidad" title="*" value="{$nea.detalle[n].cantidad}" {if $fromorden || $nea.destino != 1}readonly="readonly" {/if}/></td>
          <td><input type="text" name="umedida[]" size="3" maxlength="3" class="required umedida" title="*" value="{$nea.detalle[n].umedida}" {if $fromorden || $nea.destino != 1}readonly="readonly" {/if}/></td>
          <td><input type="text" name="descripcion[]" maxlength="255" size="50" class="required" title="*" value="{$nea.detalle[n].descripcion|escape:"html"}" {if $fromorden || $nea.destino != 1}readonly="readonly" {/if}/></td>
          <td><input type="text" name="precio[]" size="10" class="required number precio" title="*" value="{$nea.detalle[n].precio}" {if $fromorden || $nea.destino != 1}readonly="readonly" {/if}/></td>
          <td><input type="text" name="total_" size="10" readonly="readonly" class="total" value="{$nea.detalle[n].total|number_format:2:",":"."}" /></td>
          <td> {if !$fromorden} <!--a href="borrar-detalle-nea.php?iddetalle={$nea.detalle[n].iddetalle}&amp;idnea={$nea.idnea}" class="ddetalle">Borrar</a--> {/if}			                                                         
            {if !$fromorden}
            <input type="hidden" name="iddetalle[]" value="{$nea.detalle[n].iddetalle}" />
            {/if} </td>
        </tr>
        {assign var="dtotal" value=$dtotal+$con+$orden.detalle[n].total}
        {/section}
        </tbody>
        <tfoot>
          <tr>
            <th colspan="5">TOTAL:</th>
            <td id="grandTotal"></td>
            <td></td>
          </tr>
        </tfoot>
        </table>
        <p class="aright"> {if !$fromorden && $nea.destino == 1}
          <input type="button" name="add" value="Añadir" onclick="location.href='add-item.php?id={$nea.idnea}&amp;entity=almacen'" />
          {/if} </p>
        {/if}
      </fieldset>
      <p class="submit">
        <input type="submit" name="submit" id="submit" value="Guardar" />
        <input type="hidden" name="idnea" id="idnea" value="{$nea.idnea}" />
      </p>
      <!--p>
                    <a href="#tabs-2">&laquo;Anterior</a>
                </p--> 
    </div>
  </form>
</div>