			<h2>Areas <span class="options">[<a href="#lista" class="goto">Ver o editar área</a> | <a href="{$self}" class="goto">Añadir Áreas</a>]</span></h2>
            <script type="text/javascript" src="{$scriptsurl}common.php?param=areas&id={$area.idarea}"></script>
            {if $msg}<div class="msg">{$msg}</div>{/if}
            <form name="frmarea" id="frmarea" action="{$self}" method="post">
            	<fieldset>
                	<legend>Datos del área</legend>
                    <p>
                    	<label for="nombre">Nombre:</label>
                        <input type="text" name="nombre" id="nombre" maxlength="100" size="60" value="{$area.nombre}" class="required" title="Ingresa el nombre del área" />
                    </p>
                    <p>
                    	<label for="abreviatura">Abreviatura:</label>
                        <input type="text" name="abreviatura" id="abreviatura" maxlength="6" size="7" value="{$area.abreviatura}" title="Ingresa el teléfono" class="required" />
                    </p>
                </fieldset>
                
                <p class="submit">
                	<input type="hidden" name="idarea" id="idarea" value="{$area.idarea}" />
                    <input type="submit" name="submit" id="submit" value="Guardar" />
                </p>
                
           </form>
           
           <h2 id="lista">Lista de Áreas</span></h2>
           
           <table class="tabla">
           		<thead>
                	<tr>
                        <th>Abreviatura</th>
                        <th>Nombre</th>
                    </tr>
                </thead>
                <tbody>
                	{section name=n loop=$areas}
                	<tr class="{cycle values="even, odd"}">
                    	<th>{$areas[n].abreviatura}</th>
                        <td><a href="{$self}?idarea={$areas[n].idarea}" title="Click para editar">{$areas[n].nombre}</a></td>
                    </tr>
                    {sectionelse}
                    <tr>	
                    	<td colspan="2">No existen datos.</td>
                    </tr>
                    {/section}
                </tbody>
           </table>
           {include file="paginator.html"}