<h2>Bienvenido {$loginuser.nombres}</h2>
<h3>Cambios y novedades</h3>
<div class="msg nota">
  <ul>
    <li>02 Marzo 2013 - Solución de errores de impresión en Firefox. (<a href="http://abastecimiento.pe/blog/solucion-de-impresion-errores-en-firefox-19" target="_blank">Ver video</a>)</li>
    <li><a href="ayuda.php">Todas los cambios y novedades</a></li>
  </ul>
</div>
<p>Ud. tiene disponibles las siguientes opciones:</p>
<div class="group-container">
    {if $loginuser.usertype==2 || $loginuser.iduser == 1}
    <div class="group">
        <h3>Requerimientos</h3>
        <p>Puedes <a href="requerimientonew.php">crear</a> o <a href="requerimiento-lista.php">ver los requerimientos</a> para editarlos, imprimirlos o generar cotizaciones.</p>
    </div>
    {/if}
    {if $loginuser.usertype==1}
    <div class="group">
        <h3>Generación de órdenes</h3>
        <h4>Órdenes de compra</h4>
        <p>Puedes <a href="orden-compra.php">Generar Órdenes de Compra</a> o <a href="orden-compra-lista.php">ver el listado</a> para editarlas o imprimirlas</p>
        <h4>Órdenes de servicio</h4>
        <p>Puedes <a href="orden-servicio.php">Generar Órdenes de Servicio</a> o <a href="orden-servicio-lista.php">ver el listado</a> para editarlas o imprimirlas</p>
    </div>
    <div class="group">
        <h3>Otros</h3>
        <h4>Fuentes</h4>
        <p>Administración de las <a href="fuentes.php">fuentes de financiamiento</a>.</p>
        <h4>Oficinas</h4>
        <p>Administración de las <a href="areas.php">áreas u oficinas</a>.</p>
        <h4>Documentos</h4>
        <p>Administración de los <a href="docs.php">documentos relacionados a las órdenes</a>.</p>
    </div>
    {/if}
    {if $loginuser.usertype==3 || $loginuser.iduser == 1}
    <div class="group">
        <h3>Ingresos</h3>
        <h4>Por órdenes de compra</h4>
        <p>Puedes ver las <a href="nea-orden.php">órdenes de compra</a> e ingresar productos.</p>
        <h4>Generacion de <abbr title="Nota de Entrada de Almacén">NEA</abbr></h4>
        <p>Puedes <a href="almacen.php">ingresar productos</a> de saldos u otros.</p>
        <h4>Relacion de <abbr title="Nota de Entrada de Almacén">NEA</abbr></h4>
        <p>Puedes ver <a href="almacen-lista.php">ver y controlar</a> los bienes dentro del almacén.</p>
    </div>
    {/if}
</div>
<div class="group-container">
    {if $loginuser.usertype==1}
    <div class="group">
        <h3>Cotizaciones</h3>
        <p>Puedes <a href="cotizacionnew.php">crear</a> o <a href="cotizacion-lista.php">ver las cotizaciones</a> para editarlas, imprimirlas, generar cuadros comparativos u órdenes.</p>
    </div>
    <div class="group">
        <h3>Proyectos</h3>
        <p>Puedes ver crear, modificar los <a href="proyectos.php">proyectos</a>.</p>
    </div>
    <div class="group">
        <h3>Proveedores</h3>
        <p>Puedes ver crear, modificar o buscar información de los <a href="proveedores.php">proveedores</a>.</p>
    </div>
    <div class="group">
        <h3>Usuarios</h3>
        <p>Administración de los <a href="usuarios.php">usuarios</a> y sus permisos.</p>
    </div>
    {/if}
    {if $loginuser.usertype==3 || $loginuser.iduser == 1}
    <div class="group">
        <h3>Salidas</h3>
        <h4>Pedidos de Comprobante de Salidas</h4>
        <p>Puedes <a href="pecosa-lista.php">ver la relación de <acronym title="Pedido de Comprobante de Salida">PECOSA</acronym>S</a>.</p>
        <h4>Generar <acronym title="Pedido de Comprobante de Salida">PECOSA</acronym>s</h4>
        <p>Puedes <a href="almacen-quitar.php">generar Pedidos de Comprobante de Salidas</a>.</p>
    </div>
    {/if}
</div>
