<h2>Informes</h2>
<script type="text/javascript" src="{$scriptsurl}common.php?param=inf"></script>
<script type="text/javascript" src="{$scriptsurl}acciones/informe-producto.js"></script>
<ul class="i-tabs">
  <li><a href="#i-main">Órdenes</a></li>
  <li><a href="#i-prod">Productos</a></li>
</ul>
<div class="i-tab-container">
  <div id="i-main" class="i-tab-content">
    <form name="frminforme" id="frminforme" action="{$self}" method="get">
      <fieldset>
        <legend>Criterios de búsqueda</legend>
        <p>
          <input type="radio" name="orden" id="corden" value="ordencompra" {if $orden!="ordenservicio"}checked="checked"{/if} />
          <label for="corden" class="nolab">Órdenes de Compra</label>
          <input type="radio" name="orden" id="sorden" value="ordenservicio" {if $orden=="ordenservicio"}checked="checked"{/if} />
          <label for="sorden" class="nolab">Órdenes de Servicio</label>
        </p>
        <p>
          <label for="idproyecto" class="nolab">Proyecto:</label>
          <select id="idproyecto" name="idproyecto">
            <option value="0">Cualquier proyecto</option>

                    {section name=n loop=$projs}

            <option value="{$projs[n].idproyecto}" {if $projs[n].idproyecto==$idproyecto}selected="selected"{/if}>{$projs[n].descripcion}</option>

                    {/section}

          </select>
        </p>
        <p>
          <label for="iddoc" class="nolab">Tipo Documento:</label>
          <select id="iddoc" name="iddoc">
            <option value="0">Cualquier tipo</option>

                    {section name=n loop=$docs}

            <option value="{$docs[n].iddoc}" {if $docs[n].iddoc==$iddoc}selected="selected"{/if}>{$docs[n].nombre}</option>

                    {/section}

          </select>
          <label for="idfuente" class="nolab">Fuente:</label>
          <select id="idfuente" name="idfuente">
            <option value="0">Cualquier fuente</option>

                    {section name=n loop=$fuentes}

            <option value="{$fuentes[n].idfuente}" {if $fuentes[n].idfuente==$idfuente}selected="selected"{/if}>{$fuentes[n].nombre}</option>

                    {/section}

          </select>
          <label for="fecha1" class="nolab">De:</label>
          <input type="text" name="fecha1" id="fecha1" size="11" value="{if $fecha1}{$fecha1}{else}{"01/01/2012"}{/if}" class="required" />
          <label for="fecha2" class="nolab">Hasta:</label>
          <input type="text" name="fecha2" id="fecha2" size="11" value="{if $fecha2}{$fecha2}{else}{$smarty.now|date_format:"%d/%m/%Y"}{/if}" class="required" />
        </p>
        <p>
          <label for="ruc" class="nolab"><acronym title="Registro Único del Contribuyente">RUC</acronym> del Proveedor:</label>
          <input type="text" name="ruc" id="ruc" size="20" maxlength="11" value="{if $ruc}{$ruc}{/if}" />
        </p>  
        <p>  
          <label for="status" class="nolab">Estado de la Orden:</label>
          <select id="status" name="status">
            <option value="0" {if $status==0}selected="selected"{/if}>Cualquier estado</option>
            <option value="1" {if $status==1}selected="selected"{/if}>Activo</option>
            <option value="2" {if $status==2}selected="selected"{/if}>Cancelado</option>
          </select>
        </p>
      </fieldset>
      <p class="submit">
        <input type="submit" name="submit" id="submit" value="Buscar" />
      </p>
    </form>
  </div>
  <div id="i-prod" class="i-tab-content">
    <form name="frminforme" id="frminforme" action="{$self}" method="get">
      <fieldset>
        <legend>Producto</legend>
        <p>
          <label for="producto" class="nolab">Producto:</label>
          <input type="text" name="producto" id="producto" value="{if $producto}{$producto}{/if}" />
        </p>  
      </fieldset>
      <p class="submit">
        <input type="button" name="button" id="button" value="Buscar" />
      </p>
    </form>
  </div>
</div>
<div id="results">
{if $postback}
<h2>Resultados de la búsqueda <span class="options">
        [<a href="{$self}?excel&amp;orden={$orden}&amp;idproyecto={$idproyecto}&amp;iddoc={$iddoc}&amp;idfuente={$idfuente}&amp;fecha1={$fecha1}&amp;fecha2={$fecha2}&amp;ruc={$ruc}&amp;status={$status}&amp;submit=Buscar">Exportar los resultados a Excel</a> |
        <a href="{$self}?excelproductos&amp;orden={$orden}&amp;idproyecto={$idproyecto}&amp;iddoc={$iddoc}&amp;idfuente={$idfuente}&amp;fecha1={$fecha1}&amp;fecha2={$fecha2}&amp;ruc={$ruc}&amp;status={$status}&amp;submit=Buscar">Exportar los productos a Excel</a>]
    </span></h2>

<table class="tabla">
  <thead>
    <tr>
      <th>Código</th>
      <th>Documento</th>
      <th>Proyecto</th>
      <th>Proveedor</th>
      <th>Fecha</th>
      <th>Creado por</th>
      <th>Total</th>
      {if $orden=="ordencompra"}
      <th colspan="3">Acciones</th>
      {else}
      <th colspan="2">Acciones</th>
      {/if} </tr>
  </thead>
  <tbody>
  
  {if $ordenes}
  {section name=n loop=$ordenes}
  <tr class="{cycle values="even, odd"}{if $ordenes[n].status==2} cancelled{/if}">
    <th>{$ordenes[n].codigo}</th>
    <td>{$ordenes[n].doc.nombre}: {$ordenes[n].nrodoc}</td>
    <td>{$ordenes[n].proyecto.descripcion}</td>
    <td>{$ordenes[n].proveedor.razonsocial}</td>
    <td>{$ordenes[n].fecha}</td>
    <td>{$ordenes[n].usuario.username}</td>
    <td>{$ordenes[n].stotal|number_format:2:",":"."}</td>
    {if $orden=="ordencompra"}
    <th><a href="orden-compra.php?idorden={$ordenes[n].idorden}">Ver</a></th>
    <th><a href="orden-compra-print.php?idorden={$ordenes[n].idorden}">Imprimir</a></th>
    {else}
    <th><a href="orden-servicio.php?idorden={$ordenes[n].idorden}">Ver</a></th>
    <th><a href="orden-servicio-print.php?idorden={$ordenes[n].idorden}">Imprimir</a></th>
    {/if} </tr>
  {/section}
    </tbody>
  
  <tfoot>
    <tr>
      <th colspan="6">Monto Total S/.</th>
      <th>{$atotal|number_format:2:",":"."}</th>
      <th colspan="6"></th>
    </tr>
  </tfoot>
  {else}
  <tr>
    <td colspan="10">No existen datos.</td>
  </tr>
    </tbody>
  
  {/if}
</table>
{/if}
</div>
