<script type="text/javascript">
	$().ready(function() {ldelim}
		//$("#frmlogin").validate();
		$("#username").focus();
		$('#frmlogin').submit(function() {ldelim}
		if ($('#anio').val() == '2013' ) {ldelim}
			alert('Su sistema no está actualizado para el año fiscal 2013, contactese con los números: 984752508 o RPM #806094.');
			return false;
		{rdelim}
	{rdelim})
	{rdelim});
</script>
<h2>Iniciar su sesión</h2>
{if $msg}
<div class="msg">{$msg}</div>
{/if}
<form name="frmlogin" id="frmlogin" action="{$self}" method="post">
  <fieldset>
    <legend>Ingrese sus datos</legend>
    <p>
      <label for="username" accesskey="u"><span class="accesskey">U</span>suario:</label>
      <input type="text" name="username" id="username" maxlength="100" class="required" title="Ingresa el nombre de usuario" />
    </p>
    <p>
      <label for="pass" accesskey="c"><span class="accesskey">C</span>ontraseña:</label>
      <input type="password" name="pwd" id="pass" maxlength="100" class="required" title="Ingresa la contraseña" />
    </p>
    <p>
      <label for="anio" accesskey="c"><span class="accesskey">Año Fiscal:</label>
	<select id="anio">
		<option value="2012">2012</option>
		<option value="2013" selected="selected">2013</option>
	</select>
    </p>
    <p>
      <input type="hidden" name="r" id="r" value="{$r}" />
    </p>
  </fieldset>
  <p class="submit">
    <input type="submit" name="submit" id="submit" value="Ingresar" />
  </p>
</form>
