<h2>Órdenes</h2>
<p>Las siguientes acciones están disponibles:</p>
<div class="group-container">
    <div class="group">
        <h3>Órdenes de Compra</h3>
        <p>Puedes <a href="orden-compra-lista.php">ver o editar</a> las órdenes de Compra o <a href="orden-compra.php">crear nuevas órdenes</a></p>
    </div>
</div>

<div class="group-container">
    <div class="group">
        <h3>Órdenes de Servicio</h3>
        <p>Puedes <a href="orden-servicio-lista.php">ver o editar</a> las órdenes de Servicio o <a href="orden-servicio.php">crear nuevas órdenes</a></p>
    </div>
</div>