			<h2>Órdenes</h2>
            <p>Las siguientes acciones están disponibles:</p>
            <ul>
            	<li><a href="orden-compra.php#frmorden">Crear Orden de Compra</a>
            	  <ul>
            	    <li><a href="orden-compra-lista.php">Ver Órdenes de Compra</a></li>
          	    </ul><br />

            	</li>
                <li><a href="orden-servicio.php#frmorden">Crear Orden de Servicio</a>
                  <ul>
                    <li><a href="orden-servicio-lista.php#lista">Ver Órdenes de Servicio</a></li>
                  </ul>
                </li>
                <li><a href="informes.php#lista">Generar informes</a></li>
            </ul>
