<script type="text/javascript" src="{$scriptsurl}acciones/lista-detalle.js"></script>
{if $msg}
<div class="msg">{$msg}</div>
{/if}
<h2>Salidas</h2>
<table class="tabla">
  <thead>
    <tr>
      <th></th>	
      <th>Código</th>
      <th>Dependencia</th>
      <th>Entregado a</th>
      <th>Destino</th>
      <th>Fecha</th>
      <th>Creado por</th>
      <th colspan="2">Acciones</th>
    </tr>
  </thead>
  <tbody>
  
  {section name=n loop=$pecosas}
  <tr class="{cycle values="even,odd"}">
    <th class="show-branch"></th>
    <th>{$pecosas[n].codigo}</th>
    <td>{$pecosas[n].dependencia}</td>
    <td>{$pecosas[n].entregar}</td>
    <td>{$pecosas[n].destino}</td>
    <td>{$pecosas[n].fecha}</td>
    <td>{$pecosas[n].usuario.username}</td>
    <th><a href="pecosa.php?idpecosa={$pecosas[n].idpecosa}">Modificar</a></th>
    <th><a href="pecosa-print.php?idpecosa={$pecosas[n].idpecosa}">Imprimir</a></th>
  </tr>
   <tr class="tabla-child">
      <th class="branch"></th>
      <td colspan="8">
            <table class="tabla">
                <thead>
                    <tr>
                        <th>Cantidad</th>
                        <th><abbr title="Unidad de Medida">U. Med.</abbr></th>
                        <th>Descripción</th>
                        <th>precio</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                    {section name=d loop=$pecosas[n].detalle}
                    <tr>
                        <td>{$pecosas[n].detalle[d].cantidad}</td>
                        <td>{$pecosas[n].detalle[d].producto.umedida}</td>
                        <td>{$pecosas[n].detalle[d].producto.descripcion|escape:"html"}</td>
                        <td>{$pecosas[n].detalle[d].producto.precio}</td>
                    </tr>
                    {/section}
                </tbody>
                </tfoot>
            </table>
      </td>
  </tr>
  {sectionelse}
  <tr>
    <td colspan="7">No existen datos.</td>
  </tr>
  {/section}
  </tbody>
  
</table>
{include file="paginator.html"} 