<h2>Salidas</h2>
<table class="tabla">
  <thead>
    <tr>
      <th>Código</th>
      <th>Dependencia</th>
      <th>Entregado a</th>
      <th>Destino</th>
      <th>Fecha</th>
      <th>Creado por</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
  
  {section name=n loop=$pecosas}
  <tr class="{cycle values="even,odd"}">
    <th>{$pecosas[n].codigo}</th>
    <td>{$pecosas[n].dependencia}</td>
    <td>{$pecosas[n].entregar}</td>
    <td>{$pecosas[n].destino}</td>
    <td>{$pecosas[n].fecha}</td>
    <td>{$pecosas[n].usuario.username}</td>
    <th><a href="pecosa-print.php?idpecosa={$pecosas[n].idpecosa}">Imprimir</a></th>
  </tr>
  {sectionelse}
  <tr>
    <td colspan="7">No existen datos.</td>
  </tr>
  {/section}
  </tbody>
  
</table>
{include file="paginator.html"} 