<h2>Pedidos de Comprobante de salida</h2>
<script type="text/javascript" src="{$scriptsurl}jquery.calculation.min.js"></script> 
<script type="text/javascript" src="{$scriptsurl}acciones/almacen.js"></script> 
{if $msg}
<div class="msg">{$msg}</div>
{/if}
<div id="tabs">
  <form name="frmalmacen" id="frmorden" action="{$self}" method="post">
    <div id="tabs-1">
      <fieldset>
        <legend>Datos del ingreso</legend>
        <p>
          <label for="codigo"><abbr title="PECOSA">PECOSA</abbr> Nro.:</label>
          <input type="text" name="codigo" id="codigo" value="{$pecosa.codigo}" maxlength="10" class="required" readonly="readonly" />
        </p>
        <p>
          <label for="dependencia">Dependencia:</label>
          <input type="text" name="dependencia" id="dependencia" value="{if $pecosa.dependencia}{$pecosa.dependencia}{/if}" maxlength="200" size="80" class="required" />
        </p>
        <p>
          <label for="entregar">Entregar a:</label>
          <input type="text" name="entregar" id="entregar" value="{if $pecosa.entregar}{$pecosa.entregar}{/if}" maxlength="200" size="80" class="required" />
        </p>
        <p>
          <label for="destino">Destino:</label>
          <input type="text" name="destino" id="destino" value="{if $pecosa.destino}{$pecosa.destino}{/if}" maxlength="200" size="80" class="required" />
        </p>
        <p>
          <label for="fecha">Fecha:</label>
          <input type="text" name="fecha" id="fecha" size="11" value="{if $pecosa.fecha}{$pecosa.fecha}{else}{$smarty.now|date_format:"%d/%m/%Y"}{/if}" class="required" />
        </p>
      </fieldset>
    </div>
    <div id="tabs-3">
      <fieldset>
        <legend>Detalles de la orden</legend>
        <table class="tabla">
          <thead>
            <tr>
              <th colspan="4">Artículos</th>
              <th colspan="2">Precio</th>
            </tr>
            <tr>
              <th>Código</th>
              <th>Cantidad que salió</th>
              <th><abbr title="Unidad de Medida">U. Med.</abbr></th>
              <th>Descripción</th>
              <th>Unitario</th>
              <th>Total</th>
            </tr>
          </thead>
        <tbody id="tbody">
        {assign var="dtotal" value=0}
        {section name=n loop=$pecosa.detalle}
        <tr id="firstr">
          {assign var="total" value=$pecosa.detalle[n].cantidad*$pecosa.detalle[n].producto.precio}
          <td style="width: 100px;">{$pecosa.detalle[n].producto.especifica}</td>
          <td>{$pecosa.detalle[n].cantidad}</td>
          <td>{$pecosa.detalle[n].producto.umedida}</td>
          <td>{$pecosa.detalle[n].producto.descripcion|escape:"html"}</td>
          <td>{$pecosa.detalle[n].producto.precio}</td>
          <td>{$total|number_format:2:",":"."}</td>
        </tr>
        {assign var="dtotal" value=$dtotal+$total}
        {/section}
        </tbody>
        <tfoot>
          <tr>
            <th colspan="5">TOTAL:</th>
            <td id="grandTotal2">{$dtotal|number_format:2:",":"."}</td>
          </tr>
        </tfoot>
        </table>
      </fieldset>
      <p class="submit">
        <input type="submit" name="submit" id="submit" value="Guardar" />
        <input type="button" name="button" id="anular-pecosa" value="Anular PECOSA" class="cancel-button" />
        <input type="hidden" name="idpecosa" id="idpecosa" value="{$pecosa.idpecosa}" />
      </p>
    </div>
  </form>
</div>