<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={$charset}" />
<link rel="stylesheet" type="text/css" media="screen,print" href="styles/print-single.css" />
<title>Proyecto: {$proj.descripcion}</title>
</head>
<body>
<h1>Datos del Proyecto</h1>
<p>
  <label for="sec_func">Sec_func:</label>
  {$proj.sec_func} </p>
<p>
  <label for="programa">Programa:</label>
  {$proj.programa} </p>
<p>
  <label for="prod_pry">Prod_pry:</label>
  {$proj.prod_pry} </p>
<p>
  <label for="act_ai_obra">Act_ai_obra:</label>
  {$proj.act_ai_obra} </p>
<p>
  <label for="funcion">Función:</label>
  {$proj.funcion} </p>
<p>
  <label for="division_func">División_func:</label>
  {$proj.division_func} </p>
<p>
  <label for="grupo_func">Grupo_func:</label>
  {$proj.grupo_func} </p>
<p>
  <label for="meta">Meta:</label>
  {$proj.meta} </p>
<p>
  <label for="finalidad">Finalidad:</label>
  {$proj.finalidad} </p>
<p>
  <label for="descripcion">Cadena Funcional:</label>
  {$proj.sec_func}.{$proj.programa}.{$proj.prod_pry}.{$proj.act_ai_obra}.{$proj.funcion}.{$proj.division_func}.{$proj.grupo_func}.{$proj.meta}.{$proj.finalidad} </p>
<hr />
<p class="nota">Generado por el Sistema de Ordenes de Servicio y Compra. Para uso de la Municipalidad sólamente.</p>
<script type="text/javascript">
    	window.print();
    </script>
</body>
</html>
