<script type="text/javascript" src="{$scriptsurl}acciones/lista-detalle.js"></script>
<h2>Lista de Requerimientos <span class="options">[<a href="requerimientonew.php" class="goto">Añadir Requerimiento</a> | <a href="requerimiento-lista.php">Ver lista simple</a>]</span></h2>
<table class="tabla" id="data-table">
  <thead>
    <tr>
      <th class="codigo">Nro</th>
      <th>Fecha</th>
      <th>Creado por</th>
      <th>Oficina/Area</th>
      <th>Proyecto</th>
      {if $loginuser.usertype==1}
      <th class="no_sort">Acciones</th>
      <th class="no_sort">Acciones</th>
      <th class="no_sort">Acciones</th>
      <th class="no_sort">Acciones</th>
      {else}
      <th class="no_sort">Acciones</th>
      <th class="no_sort">Acciones</th>
      <th class="no_sort">Acciones</th>
      {/if} </tr>
  </thead>
  <tbody>
  
  {section name=n loop=$requerimientos}
  <tr class="{cycle values="even, odd"}{if $requerimientos[n].status==2} cancelled{/if}">
    <th class="codigo">{$requerimientos[n].codigo} / {$requerimientos[n].usuario.area.abreviatura}</th>
    <td>{$requerimientos[n].fecha}</td>
    <td>{$requerimientos[n].usuario.nombres}</td>
    <td>{$requerimientos[n].usuario.area.nombre}</td>
    <td>sec_fun={$requerimientos[n].usuario.proyecto.sec_func} | {$requerimientos[n].usuario.proyecto.descripcion}</td>
    <th><a href="requerimientonew.php?idreq={$requerimientos[n].idreq}">Modificar</a></th>
    <th><a href="requerimiento-print.php?idreq={$requerimientos[n].idreq}">Imprimir</a></th>
    {if $loginuser.usertype==1}
    <th><a href="cotizacionnew.php?create&amp;idreq={$requerimientos[n].idreq}">Crear Cotización</a></th>
    {if $requerimientos[n].status==1}
    <th><a href="requerimientonew.php?cancel&amp;idreq={$requerimientos[n].idreq}" class="cancelorder">Cancelar</a></th>
    {else}{if $requerimientos[n].status==2}
    <th><a href="requerimientonew.php?activate&amp;idreq={$requerimientos[n].idreq}" class="activateorder">Activar</a></th>
    {else}
    {/if}
    {/if}
    {/if} </tr>
  {sectionelse}
  <tr>
    <td colspan="6">No existen datos.</td>
  </tr>
  {/section}
  </tbody>
  
</table>
<div class="clear"></div>
<p class="msg">Las requerimientos <span class="cancelmsg">tachados y con rojo</span> son requerimientos cancelados.</p>
<script type="text/javascript" src="{$scriptsurl}datatables/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="{$scriptsurl}acciones/datatables.js"></script>
<link rel="stylesheet" type="text/css" href="{$scriptsurl}datatables/media/css/sia.css" />