<h2>Opciones del Sistema</h2>
<p>Ud. tiene disponibles las siguientes opciones:</p>
<ul>
  <li>Fuentes de financiamiento
    <ul>
      <li><a href="fuentes.php#lista">Ver lista de fuentes de financiamiento</a></li>
      <li><a href="fuentes.php#frmfont">Crear una nueva fuente de financiamiento</a></li>
    </ul>
  </li>
  <li>Documentos de solicitud
    <ul>
      <li><a href="docs.php#lista">Ver lista de tipos de documento</a></li>
      <li><a href="docs.php#frmdoc">Crear un nuevo tipo de documento</a></li>
    </ul>
  </li>
  <li>Áreas
    <ul>
      <li><a href="areas.php#lista">Ver lista de areas</a></li>
      <li><a href="areas.php#frmarea">Crear área</a></li>
    </ul>
  </li>
  <li>Usuarios
    <ul>
      <li><a href="usuarios.php#lista">Ver lista de usuarios</a></li>
      <li><a href="usuarios.php#frmuser">Crear un nuevo usuario</a></li>
    </ul>
  </li>
  <li>Opciones del Sistema
    <ul>
      <li><a href="opciones.php">Ver o cambiar opciones del Sistema</a></li>
    </ul>
  </li>
</ul>
