<h2>Usuarios <span class="options">[<a href="#lista" class="goto">Ver o editar usuarios</a> | <a href="#frmuser" class="goto">Añadir usuario</a>]</span></h2>
<script type="text/javascript" src="{$scriptsurl}common.php?param=user"></script> 
{if $msg}
<div class="msg">{$msg}</div>
{/if}
<form name="frmuser" id="frmuser" action="{$self}" method="post">
  <fieldset>
    <legend>Datos del usuario</legend>
    <p>
      <label for="nombres">Nombres:</label>
      <input type="text" name="nombres" id="nombres" maxlength="255" size="60" value="{$user.nombres}" class="required" required="required" title="Ingresa los nombres" />
    </p>
    <p>
      <label for="email">Email:</label>
      <input type="text" name="email" id="email" maxlength="100" size="40" value="{$user.email}" class="required email" required="required" title="Ingresa un email correcto" />
    </p>
    <p>
      <label for="username" title="Nombre de Usuario">Usuario:</label>
      <input type="text" name="username" id="username" maxlength="100" size="40" value="{$user.username}" class="required" required="required" title="Ingresa el nombre de usuario" {if $user.username!=""}readonly="readonly"{/if} />
    </p>
    <p>
      <label for="pwd">Contraseña:</label>
      <input type="password" name="pwd" id="pwd" maxlength="100" title="Ingresa la contraseña" />
    </p>
    <p>
      <label for="pwd2">Otra vez:</label>
      <input type="password" name="pwd2" id="pwd2" maxlength="100" title="Ingresa la contraseña" />
      <br />
      <span class="nota">Si no va a cambiar la contraseña, deje los campos en blanco.</span> </p>
    <p>
      <label for="idarea">Área:</label>
      <select id="idarea" name="idarea" required="required">
        
                            {section name=n loop=$areas}
                            
        <option value="{$areas[n].idarea}" {if $areas[n].idarea==$user.area.idarea}selected="selected"{/if}>{$areas[n].nombre}</option>
        
                            {/section}
                        
      </select>
    </p>
    <p>
      <label for="idproyecto">Proyecto:</label>
      <!--input type="text" name="proyectos" id="proyectos" size="60" value="{$user.proyecto.descripcion}" />
                        <input type="hidden" name="idproyecto" id="idproyecto" value="{$user.proyecto.idproyecto}" /-->
      <select id="idproyecto" name="idproyecto" required="required">
        
                        {section name=n loop=$projs}
                        
        <option value="{$projs[n].idproyecto}" {if $projs[n].idproyecto==$user.proyecto.idproyecto}selected="selected"{/if}>{$projs[n].descripcion}</option>
        
                        {/section}
                        
      </select>
    </p>
    <p>
      <label for="usertype">Rango:</label>
      <select name="usertype" id="usertype">
        
                        	{foreach key=usertype item=nombre from=$autipos}
                                
        <option value="{$usertype}" {if $user.usertype==$usertype}selected="selected"{/if}>{$nombre}</option>
        
                            {/foreach}
                        
      </select>
    </p>
  </fieldset>
  <p class="submit">
    <input type="hidden" name="iduser" id="iduser" value="{$user.iduser}" />
    <input type="submit" name="submit" id="submit" value="Guardar" />
  </p>
</form>
<h2 id="lista">Lista de Proveedores</h2>
<table class="tabla">
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Nombres</th>
      <th>E-mail</th>
      <th>Rango</th>
    </tr>
  </thead>
  <tbody>
  
  {section name=n loop=$users}
  <tr class="{cycle values="even, odd"}"> {if $users[n].iduser!=1}
    <th><a href="{$self}?iduser={$users[n].iduser}" title="Click para editar">{$users[n].username}</a></th>
    {else}
    <th>{$users[n].username}</th>
    {/if}
    <td>{$users[n].nombres}</td>
    <td>{$users[n].email}</td>
    <td>{$users[n].rango}</td>
  </tr>
  {sectionelse}
  <tr>
    <td colspan="4">No existen datos.</td>
  </tr>
  {/section}
    </tbody>
  
</table>
{include file="paginator.html"}