body {
	font: 1em/.7em Verdana, Arial, Helvetica, sans-serif;
}

table {
	font: .8em/.5em Verdana, Arial, Helvetica, sans-serif;
}

#header {
	clear: both;
	margin-top: .7em;
	position: relative;
}

	#header h1 {
		font: 2em Georgia, "Times New Roman", Times, serif;
		float: left;
	}
	
#main {
	clear: both;
}

	#main h2 {
		font: 1.7em Georgia, "Times New Roman", Times, serif;
		text-align: center;
		margin: 0.2em;
	}

#dependencia {
	position: relative;
	font-size: .8em;
}

#dependencia p {margin: 4px; padding: 0;}

#codigo {position: absolute; right: 4.5em; top: 0;}
#solicito {position: absolute; left: 0; top: 3.5em;}
#lugarfecha {position: absolute; right: 14em; top: 3em;}
#inclusive {position: absolute; right: 18em; bottom: -1em;}

#detalles {
	position: relative;
	margin-top: 3.6em;
}

table {
	padding: 0;
	margin: 1em 0;
	border-collapse: collapse;
	clear: both;
}

thead th {
	border: 1px solid #333;
	border-collapse: collapse;
	text-transform: uppercase;
	text-align: center;
	padding: 6px 4px 6px 10px;
	background: #EEE;
}

tbody td, tbody th {
	border: 1px solid #333;
	border-collapse: collapse;
	background: #fff;
	padding: 4px 4px 4px 10px;
	text-align: left;
}

tfoot td, tfoot th {
	text-align: right;
	background: #FFF;
	border: 1px solid #333;
	padding: 4px 4px 4px 10px;
}

.vbottom {vertical-align: bottom;}
.fright {float: right;}
.fleft {float: left;}
.acenter {text-align: center;}
.num {width: 2em;}
.absa {position: absolute;}
.rela {position: relative;}
.oneh {width: 100%; margin: 0 auto}
.bold {font-weight: bold;}
.wrap {width: 5%}
#desc {width: 60%}



span, strong, th {color: #FFF !important;} 
.prov, th, td, table, .bor {background: #FFF !important; border: 1px solid #FFF !important} 
