@import "tables.css";
/* Enero 2012 */

.options {
  font-size: 70%;
}

input[readonly="readonly"] {
	border: 0;
}

.crea-orden {
    color: #555344 !important;
    background: #faefba !important;
}
.crea-orden th,
.crea-orden td {
    color: #555344 !important;
    background: #faefba !important;
}

/* Paginador */
.paginator {
    margin: 10px 0;
    overflow: hidden;
    padding: 3px 0;
}
.paginator a {
    padding: 3px 10px;
    background: #FFF;
    border: 1px solid #cdcdca !important;
    font-weight: bold;
}

.paginator a:hover {
    background: #404040;
    color: #FFF;
}

.paginator .ezr_nav_na {
    padding: 3px 10px;
    font-weight:  bold;
}

/* Collapse */
fieldset.collapsible legend {
	cursor: pointer;
}

fieldset.collapsible legend:hover {
	color: #096981;
}

fieldset.collapsible .collapsible {
	padding-left: 20px;
	background: url(../images/collapse.open.png) no-repeat 3px 5px;
}

fieldset.collapsed .collapsed {
	padding-left: 20px;
	background: url(../images/collapse.closed.png) no-repeat 3px 5px;
}

/* Tabs */
ul.i-tabs {  
    margin: 0;  
    padding: 0;  
    float: left;  
    list-style: none;  
    height: 26px;  
    border-bottom: 1px solid #a0b9cf;  
    border-left: 1px solid #a0b9cf !important; 
    width: 90%;
}  
ul.i-tabs li {  
    float: left;  
    margin: 0 !important;  
    padding: 0;  
    height: 25px;  
    line-height: 25px;  
    border: 1px solid #a0b9cf !important;  
    border-left: none !important;  
    margin-bottom: -1px;  
    overflow: hidden;  
    position: relative;  
    background: #f6f7f8 !important; 
    font-size: 90%;
}  
ul.i-tabs li a {  
    text-decoration: none;  
    color: #2c7ab8;  
    display: block;  
    padding: 0 10px;  
    border: 1px solid #fff;  
    outline: none;  
}  
ul.i-tabs li a:hover {  
	color: #194c7f;
}  
html ul.i-tabs li.active-tab, html ul.i-tabs li.active-tab a:hover  {  
    background: #fff !important;  
    border-bottom: 1px solid #fff !important;  
} 

.i-tab-container {  
    border: 1px solid #a0b9cf;  
    border-top: none;  
    overflow: hidden;  
    clear: both;  
    float: left;
    width: 90%;  
    background: #fff;  
    margin-bottom: 10px;
    padding-bottom: 0 20px;
}

.i-tab-content {  
    padding: 0px 20px 0 20px;  
}


/* Filtros */
#filter input[type="button"],
#filter input[type="submit"] {
    font-weight:  bold;
    padding: 2px 5px;
}

/* Groups */
.group-container {
	width: 48%;
	float: left;
}

.group {
	border: 1px solid #cdcaca;
	background: #F8F8F8;
	margin: 4px 10px;
	padding: 4px 10px;
}

.group h3 {
	font-weight: bold;
	color: #000;
	padding: 3px 0;
	margin-bottom: 10px;
	border-bottom: 1px solid #cdcaca;
}

.group h4 {
    color: #000;
}

.group p {
    margin-left: 5px;
}

.cancel-button {
  color: red;
  font-weight: bold;
}

.nolab {
  float: none;
}

.msg {border: 1px solid #e2dcb9; background: #eef7d9; color: #7a7b52; padding: 4px 10px; overflow: hidden;}
.error { border: 1px solid #b05164; background: #ecd3d8; color: #b05164; padding: 1px 10px; margin: 0 5px;}
.nota {font-size: 90%;}
.submit { margin: 10px;}
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}