table.tabla  {
	padding: 0;
	margin: 0;
        width: 90%;
}

.tabla thead th {
	color: #fff;
	border-right: 1px solid #545454;
	border-bottom: 1px solid #545454;
	border-top: 1px solid #545454;
	/*text-transform: uppercase;*/
	text-align: left;
	padding: 4px 4px 4px 10px;
	background: #404040;
}

.tabla tbody td {
	border-right: 1px solid #b9b9b9;
	border-bottom: 1px solid #b9b9b9;
	background: #fff;
	padding: 4px 4px 4px 10px;
	color: #4f6b72;
	text-align: left;
}

.tabla tbody th {
	background: #F5FAFA;
	color: #797268;
	border-right: 1px solid #b9b9b9;
	border-bottom: 1px solid #b9b9b9;
	padding: 4px 4px 4px 10px;
	text-align: left;
}

.tabla tbody tr.odd th {
    background: #e9f0f7;
}

.tabla tbody tr.odd td {
    background: #F5FAFA;
}

.tabla tbody tr:hover td,
.tabla tbody tr:hover th {
    background: #ddd !important;
    /*color: #000 !important;*/
    border-right: 1px solid #b0b0b0;
    border-bottom: 1px solid #b0b0b0;
}

.checkedvalue {
    background: #FFC !important;
    color: #666648 !important;
    border-right: 1px solid #e8e8b1 !important;
    border-bottom: 1px solid #e8e8b1 !important;
}

.tabla tfoot td, .tabla tfoot th {
	border: 0;
	text-align: right;
	background: #FFF;
	border-right: 1px solid #b9b9b9;
	border-bottom: 1px solid #b9b9b9;
	color: #000;
	}

.tabla .cancelled td, .cancelmsg { color: #933; text-decoration: line-through}

/* Hijos */
.tabla-child {
    display: none;
}

.show-branch {
    cursor: pointer;
    background: url(../images/icon-more.png) no-repeat center !important;
    width: 20px;
}
.tabla tbody tr:hover th.show-branch {
    background: url(../images/icon-more.png) no-repeat center !important;
}