table.tabla  {
	padding: 0;
	margin: 0;
        width: 90%;
}

.tabla thead th {
	color: #4f6b72;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	text-transform: uppercase;
	text-align: left;
	padding: 4px 4px 4px 10px;
	background: #CAE8EA;
}

.tabla tbody td {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 4px 4px 4px 10px;
	color: #4f6b72;
	text-align: left;
}

.tabla tbody th {
	background: #F5FAFA;
	color: #797268;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	padding: 4px 4px 4px 10px;
	text-align: left;
}

.tabla tbody tr.odd th {
    background: #e9f0f7 !important;
}

.tabla tbody tr.odd td {
    background: #F5FAFA !important;
}

.tabla tbody tr:hover td,
.tabla tbody tr:hover th {
    background: #e9f6c2 !important;
    color: #627751 !important;
    border-right: 1px solid #cbe4ae;
    border-bottom: 1px solid #cbe4ae;
}

.tabla tfoot td, .tabla tfoot th {
	border: 0;
	text-align: right;
	background: #FFF;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	color: #000;
	}

.tabla .cancelled td, .cancelmsg { color: #933; text-decoration: line-through}